@font-face {
  font-family: 'PressStart2P';
  src: url('./Fonts/PressStart2P.ttf'); /* IE9 Compat Modes */
  src: url('./Fonts/PressStart2P.ttf') format('embedded-opentype'), /* IE6-IE8 */
       url('./Fonts/PressStart2P.ttf') format('woff2'), /* Super Modern Browsers */
       url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}


@font-face {
  font-family: upheavtt;
  src: url('./Fonts/upheavtt.ttf') format('truetype'); 
}


body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'PressStart2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
